/*reset*/
.clearfix::after{
    content:"";
    display:block;
    claer:both;;
}

ul, li, ol{
    padding:0;
    margin:0;
    list-style: none;
}

a{
    text-decoration: none;
    color:#fff;
}
body{
    font-family: 'DynaPuff', cursive;
    margin:0;
}

/* header */

header{
    width:100%;
    background: #552543;
    padding:8px 12px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items:center; 
    color:#fff;
}
header .header-logo{
    font-size:20px;
}
header .header-logo i{
    color:orange
}
header .header-nav{
    display:flex;
}
header .header-nav li{
    padding:8px 12px;
}
header .header-nav li:hover{
    background:orange;
    border-radius: 5px;;
}
header .header-icon{
    display: flex;
}
header .header-icon li{
    padding:8px 12px;
}

.m_toggle_btn{
    color:#fff;
    position:absolute;
    top:10px;
    right:24px;
    font-size:21px;
    display:none;
}

@media (max-width:768px) {
    header nav{
        flex-direction: column;
        display:flex;
        align-items: flex-start;
        width:100%;
        padding:3px 10px;
    }
    header .header-logo{
        text-align: left;
    }
    header .header-nav{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width:100%;
        display: none;
    }
    header .header-nav li{
        width:100%;
    }
    header .header-icon{
        justify-content: center;
        text-align:center;
        width:100%;
        display: none;
    }
    .m_toggle_btn{
        display:block;
    }
    
    .header-nav.active, 
    .header-icon.active{
        display:flex;
    }


}